<div class="containter-fluid">
  <div class="dot"></div>
  <div class="heading">  
    <h3>Welcome back Famah Kwandi</h3>
    <h5>Mathematics</h5>
    <p>Module 1</p>
  </div>
    <div class="container-box">Go to Registered Courses</div>

</div>
<div class="container">
  <div class="text-box">
    <p>Week One</p>
    <p class="text-bg">Done</p>
  </div>
  <div class="text-box">
    <p>Estimated Reading Time</p>
    <p>7 hours 36 minutes</p>
  </div>
  <div class="text-box">
    <p>Videos</p>
    <p>Reading</p>
  </div>
</div>
<div class="container">
  <div class="text-box">
    <p>Week One</p>
    <p class="text-bg">In Progress</p>
  </div>
  <div class="text-box">
    <p>Estimated Reading Time</p>
    <p>7 hours 36 minutes</p>
  </div>
  <div class="text-box">
    <p>Videos</p>
    <p>Reading</p>
  </div>
</div>
<div class="container">
  <div class="text-box">
    <p>Week One</p>
    <p class="text-bg">Locked</p>
  </div>
  <div class="text-box">
    <p>Estimated Reading Time</p>
    <p>7 hours 36 minutes</p>
  </div>
  <div class="text-box">
    <p>Videos</p>
    <p>Reading</p>
  </div>
</div>
<div class="container">
  <div class="text-box">
    <p>Week One</p>
    <p class="text-bg">Locked</p>
  </div>
  <div class="text-box">
    <p>Estimated Reading Time</p>
    <p>7 hours 36 minutes</p>
  </div>
  <div class="text-box">
    <p>Videos</p>
    <p>Reading</p>
  </div>
</div>
<div class="container">
  <div class="text-box">
    <p>Week One</p>
    <p class="text-bg">Locked</p>
  </div>
  <div class="text-box">
    <p>Estimated Reading Time</p>
    <p>7 hours 36 minutes</p>
  </div>
  <div class="text-box">
    <p>Videos</p>
    <p>Reading</p>
  </div>
</div>