@import "~bootstrap/dist/css/bootstrap.css";

.log {
    text-align: center;
    margin-top: 30px;
    font-size: 1.4rem;
    text-decoration: solid;
}
.log2 {
    text-align: center;
}
.row {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;

}
  /* style inputs and link buttons */
  input,
  .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; 
  }
  
  input:hover,
  .btn:hover {
    opacity: 1;
  }
  
  /* add appropriate colors to fb, twitter and google buttons */
  .fb {
    background-color: #3B5998;
    color: white;
    border-radius: 0;
    box-shadow: gray 1px;
    text-align: left;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  }  
  .google {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 0;
    text-align: left;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  }
  
  /* style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 0;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .names{
      border: 1px solid black;
      border-radius: 0;
  }
  .fpwd {
      text-align: center;
  }
  .span {
      color: blue;
  }
  
  
    
   
  
  
        