<div class="container">
    <form action="/action_page.php">
        
      <div class="row">    
        <h3 class="log">Password Reset</h3>
        <p class="log2">Please Enter a New Password</p>
        <ul>
            <li>New password must different from old password</li>
            <li>Password must contain 8 to 15 characters</li>
            <li>Spaces are not allowed</li>
            <li>Password is case sensitive</li>
        </ul>
   
        <div class="col2">
            
          <input class="names" type="text" name="username" placeholder="User Name" required>
          <input class="names" type="password" name="password" placeholder="Password" required>
          <input class="names" type="password" name="password" placeholder="Confirmed Password" required>         
          <input type="submit" value="Change Password">
        </div>
        

        
      </div>
    </form>
  </div>
  
