<div class="container">
    <form action="/action_page.php">
        
      <div class="row">    
        <h3 class="log">Register and Start Learning</h3>
  
        <div class="col1">
            <a href="#" class="google btn"><i class="fa fa-google fa-fw">
            </i> Continue with Google+
          </a>
          <a href="#" class="fb btn">
            <i class="fa fa-facebook fa-fw"></i> Continue with Facebook
           </a>         
        </div>
  
        <div class="col2">
            
          <input class="names" type="text" name="fname" placeholder="First Name" required>
          <input class="names" type="text" name="surname" placeholder="Surname" required>
          <input class="names" type="password" name="password" placeholder="Password" required>
          <input class="names" type="password" name="password" placeholder="Confirmed Password" required>
          <input class="checkbox" type="checkbox" name="checkbox" required > <span>Yes! I want to get the most out of Designemy by
            receiving emails with exclusive deals, personal
            recommendations and learning tips!</span>
          
          <input type="submit" value="Sign Up">
        </div>
        <p class="fpwd">Already have an account? <a href="login"><span class="span">Login</span></a></p>

        
      </div>
    </form>
  </div>
  
